/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

Makefile
Makefile.in
config.log
config.status
config/
po/*.gmo
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/Makefile
src/Makefile.in
src/metadata.json
gnome-extension-connman@jaakko.hannikainen.intel.com.shell-extension.zip
